*~
\#*
.\#*

add-cookie
add-paths
ansi-test
bash2pyengine
batch-emerge
bin-to-c-array
buzzword
capitalize
cddb-to-tag
check-sfurface
check-surface
clar
claude
clean-bd-archive
clean-name
columnify
commands
cookie
cookie-diff
cookie-loop
cookie-merge
dedup
departement
diss
downcase
edit-comments-of-ogg
entropy
euronews
extend-identifiers
fetch-pop
fluidtop
fpm
get-directory
goose
group-files
hexbin
html-make-image-index
insulte
kwic
lc
llen
llm-symlink
lrev
memo
menu
merge
mfod
new-password
news-to-mbox
nls
node-old
ollama-git-log-message
one-of
pic-resize
pjb-diff
print-bug-report-info
programmer
pseudo-pop
radio
random
religion
remove-duplicate-files
revlines
rotate
rstuml
script-test
sleep-schedule
sleep-sfchedule
split-dir
split-merge
substitute
surveille-host
surveille-web-pages
svn-locate-revision
text
when
